openapi: 3.0.3
info:
  title: GHL API v2
  description: |
    Enhanced HighLevel APIv2 Documentation by Sergio Leon
  version: '1.0_cbnsndwch_20231013'
servers:
  - url: https://services.leadconnectorhq.com
tags:
  - name: Businesses
  - name: Calendars
  - name: Campaigns
  - name: Contacts
  - name: Contact Appointments
  - name: Contact Campaigns
  - name: Contact Notes
  - name: Contact Search
  - name: Contact Tags
  - name: Contact Tasks
  - name: Contact Workflows
  - name: Conversations
  - name: Custom Fields
  - name: Custom Values
  - name: Forms
  - name: Locations
  - name: Location Notes
  - name: Location Search
  - name: Location Tags
  - name: Location Tasks
  - name: Location Templates
  - name: Media
  - name: OAuth
  - name: Opportunities
  - name: Pipelines
  - name: Snapshots
  - name: Surveys
  - name: Tags
  - name: Templates
  - name: Trigger Links
  - name: Users
  - name: Workflows
components:
  securitySchemes:
    bearer:
      type: http
      description: Either an agency-level or location-level access token
      scheme: bearer
      bearerFormat: JWT
    agencyBearerToken:
      type: http
      description: An agency-level access token
      scheme: bearer
      bearerFormat: JWT
    locationBearerToken:
      type: http
      description: A location-level access token
      scheme: bearer
      bearerFormat: JWT
    refreshToken:
      type: http
      description: A location-level access token
      scheme: bearer
      bearerFormat: JWT
  schemas:
    #region Common
    BadRequestDto:
      type: object
      x-FeatureName: common
      properties:
        statusCode:
          type: number
          example: 400
        message:
          type: string
          example: Bad Request
    UnauthorizedDto:
      type: object
      x-FeatureName: common
      properties:
        statusCode:
          type: number
          example: 401
        message:
          type: string
          example: 'Invalid token: access token is invalid'
        error:
          type: string
          example: Unauthorized
    UnprocessableEntityDto:
      type: object
      x-FeatureName: common
      properties:
        statusCode:
          type: number
          example: 422
        message:
          example:
            - Unprocessable Entity
          type: array
          items:
            type: string
        error:
          type: string
          example: Unprocessable Entity
    CountryCode:
      type: string
      x-FeatureName: common
      enum:
        - AF
        - AX
        - AL
        - DZ
        - AS
        - AD
        - AO
        - AI
        - AQ
        - AG
        - AR
        - AM
        - AW
        - AU
        - AT
        - AZ
        - BS
        - BH
        - BD
        - BB
        - BY
        - BE
        - BZ
        - BJ
        - BM
        - BT
        - BO
        - BA
        - BW
        - BV
        - BR
        - IO
        - BN
        - BG
        - BF
        - BI
        - KH
        - CM
        - CA
        - CV
        - KY
        - CF
        - TD
        - CL
        - CN
        - CX
        - CC
        - CO
        - KM
        - CG
        - CD
        - CK
        - CR
        - CI
        - HR
        - CU
        - CY
        - CZ
        - DK
        - DJ
        - DM
        - DO
        - EC
        - EG
        - SV
        - GQ
        - ER
        - EE
        - ET
        - FK
        - FO
        - FJ
        - FI
        - FR
        - GF
        - PF
        - TF
        - GA
        - GM
        - GE
        - DE
        - GH
        - GI
        - GR
        - GL
        - GD
        - GP
        - GU
        - GT
        - GG
        - GN
        - GW
        - GY
        - HT
        - HM
        - VA
        - HN
        - HK
        - HU
        - IS
        - IN
        - ID
        - IR
        - IQ
        - IE
        - IM
        - IL
        - IT
        - JM
        - JP
        - JE
        - JO
        - KZ
        - KE
        - KI
        - KP
        - KR
        - XK
        - KW
        - KG
        - LA
        - LV
        - LB
        - LS
        - LR
        - LY
        - LI
        - LT
        - LU
        - MO
        - MK
        - MG
        - MW
        - MY
        - MV
        - ML
        - MT
        - MH
        - MQ
        - MR
        - MU
        - YT
        - MX
        - FM
        - MD
        - MC
        - MN
        - ME
        - MS
        - MA
        - MZ
        - MM
        - NA
        - NR
        - NP
        - NL
        - AN
        - NC
        - NZ
        - NI
        - NE
        - NG
        - NU
        - NF
        - MP
        - 'NO'
        - OM
        - PK
        - PW
        - PS
        - PA
        - PG
        - PY
        - PE
        - PH
        - PN
        - PL
        - PT
        - PR
        - QA
        - RE
        - RO
        - RU
        - RW
        - SH
        - KN
        - LC
        - MF
        - PM
        - VC
        - WS
        - SM
        - ST
        - SA
        - SN
        - RS
        - SC
        - SL
        - SG
        - SX
        - SK
        - SI
        - SB
        - SO
        - ZA
        - GS
        - ES
        - LK
        - SD
        - SR
        - SJ
        - SZ
        - SE
        - CH
        - SY
        - TW
        - TJ
        - TZ
        - TH
        - TL
        - TG
        - TK
        - TO
        - TT
        - TN
        - TR
        - TM
        - TC
        - TV
        - UG
        - GB
        - UA
        - AE
        - US
        - UM
        - UY
        - UZ
        - VU
        - VE
        - VN
        - VG
        - VI
        - WF
        - EH
        - YE
        - ZM
        - ZW

    PaginationMeta:
      type: object
      x-FeatureName: common
      properties:
        total:
          type: number
          example: 1
        currentPage:
          type: number
          example: 1
        nextPage:
          type: number
          example: null
          nullable: true
        prevPage:
          type: number
          example: null
          nullable: true
    #endregion Common

    #region Attribution
    AttributionEvent:
      type: object
      x-FeatureName: attribution
      properties:
        fbc:
          type: string
          example: fb.1.123456789.987654321
        fbp:
          type: string
          example: fbp.1.987654321.123456789
        page:
          $ref: '#/components/schemas/AttributionEventPageDetails'
        type:
          type: string
          example: page-visit
        domain:
          type: string
          example: example.com
        medium:
          type: string
          example: survey
        source:
          type: string
          example: Direct traffic
        version:
          type: string
          example: v3
        adSource:
          type: string
          example: example-ad-source
        mediumId:
          type: string
          example: medium-id-123
        parentId:
          type: string
          example: parent-id-456
        referrer:
          type: string
          example: https://staging.gohighlevel.com
        fbEventId:
          type: string
          example: event-id-789
        timestamp:
          type: number
          example: 1234567890
        parentName:
          type: string
          example: Parent Survey
        fingerprint:
          type: string
          example: example-fingerprint
        pageVisitType:
          type: string
          example: survey
        contactSessionIds:
          nullable: true
          $ref: '#/components/schemas/ContactSessionIds'
    ContactSessionIds:
      type: object
      x-FeatureName: attribution
      properties:
        ids:
          type: array
          nullable: true
          items:
            type: string
    AttributionEventPageDetails:
      type: object
      x-FeatureName: attribution
      properties:
        url:
          type: string
          example: https://example.com
        title:
          type: string
          example: Example Page
    #endregion Attribution

    #region Businesses
    Business:
      type: object
      x-FeatureName: businesses
      properties:
        id:
          type: string
          description: Business Id
          example: 63771dcac1116f0e21de8e12
        name:
          type: string
          description: Business Name
          example: Microsoft
        phone:
          type: string
          description: phone number
        email:
          type: string
          description: email
          example: abc@microsoft.com
        website:
          type: string
          description: website
          example: microsoft.com
        address:
          type: string
          description: address
        city:
          type: string
          description: city
        description:
          type: string
          description: description
        state:
          type: string
          description: state
        postalCode:
          type: string
          description: postal code
        country:
          type: string
          description: country
          example: united states
        updatedBy:
          description: updated By
          $ref: '#/components/schemas/BusinessModificationTracking'
        locationId:
          type: string
          description: locaitonId
        createdBy:
          description: Created By
          $ref: '#/components/schemas/BusinessModificationTracking'
        createdAt:
          type: string
          format: date-time
          description: Creation Time
        updatedAt:
          type: string
          format: date-time
          description: Last updation time
      required:
        - id
        - name
        - locationId
    BusinessModificationTracking:
      type: object
      x-FeatureName: businesses
      properties: {}
    ListBusinessesResponse:
      type: object
      x-FeatureName: businesses
      properties:
        businesses:
          description: Business Response
          type: array
          items:
            $ref: '#/components/schemas/Business'
      required:
        - businesses
    CreateBusinessInput:
      type: object
      x-FeatureName: businesses
      properties:
        name:
          type: string
          example: Microsoft
        locationId:
          type: string
          example: 5DP4iH6HLkQsiKESj6rh
        phone:
          type: string
          example: '+18832327657'
        email:
          type: string
          example: john@deo.com
        website:
          type: string
          example: www.xyz.com
        address:
          type: string
          example: street adress
        city:
          type: string
          example: new york
        postalCode:
          type: string
          example: '12312312'
        state:
          type: string
          example: new york
        country:
          type: string
          example: us
        description:
          type: string
          example: business description
      required:
        - name
        - locationId
    CreateOrUpdateBusinessResponse:
      type: object
      x-FeatureName: businesses
      properties:
        success:
          type: boolean
          description: Success Value
          example: true
        buiseness:
          description: Business Response
          $ref: '#/components/schemas/Business'
      required:
        - success
        - buiseness
    UpdateBusinessInput:
      type: object
      x-FeatureName: businesses
      properties:
        name:
          type: string
          example: Microsoft
        phone:
          type: string
          example: '+18832327657'
        email:
          type: string
          example: john@deo.com
        postalCode:
          type: string
          example: '12312312'
        website:
          type: string
          example: www.xyz.com
        address:
          type: string
          example: street adress
        state:
          type: string
          example: new york
        city:
          type: string
          example: new york
        country:
          type: string
          example: us
        description:
          type: string
          example: business description
    DeleteBusinessResponse:
      type: object
      x-FeatureName: businesses
      properties:
        success:
          type: boolean
          description: Success value
          example: true
      required:
        - success
    GetBusinessResponse:
      type: object
      x-FeatureName: businesses
      properties:
        business:
          description: Business Response
          $ref: '#/components/schemas/Business'
      required:
        - business
    #endregion Businesses

    #region Calendars
    CalendarGroup:
      type: object
      x-FeatureName: calendars
      properties:
        id:
          type: string
        locationId:
          type: string
        name:
          type: string
        description:
          type: string
        slug:
          type: string
        isActive:
          type: boolean
    CreateCalendarGroupDto:
      type: object
      x-FeatureName: calendars
      properties:
        id:
          type: string
        locationId:
          type: string
        name:
          type: string
        description:
          type: string
        slug:
          type: string
        isActive:
          type: boolean
      required:
        - locationId
        - name
        - description
        - slug
    ListCalendarGroupsResponse:
      type: object
      x-FeatureName: calendars
      properties:
        groups:
          type: array
          items:
            $ref: '#/components/schemas/CalendarGroup'
    ValidateCalendarGroupSlugInput:
      type: object
      x-FeatureName: calendars
      properties:
        locationId:
          type: string
          description: Location Id
          example: ve9EPM428h8vShlRW1KT
        slug:
          type: string
          description: Slug
          example: calendar-1
      required:
        - locationId
        - slug
    ValidateCalendarGroupSlugResponse:
      type: object
      x-FeatureName: calendars
      properties:
        available:
          type: boolean
      required:
        - available
    CreateOrUpdateCalendarGroupResponse:
      type: object
      x-FeatureName: calendars
      properties:
        group:
          $ref: '#/components/schemas/CreateCalendarGroupDto'
    DeleteCalendarGroupResponse:
      type: object
      x-FeatureName: calendars
      properties:
        success:
          type: boolean
          description: Success
          example: 'true'
    UpdateCalendarGroupStatusInput:
      type: object
      x-FeatureName: calendars
      properties:
        isActive:
          type: boolean
          description: Is Active?
          example: true
      required:
        - isActive
    UpdateCalendarGroupStatusResponse:
      type: object
      x-FeatureName: calendars
      properties:
        success:
          type: boolean
          description: Success
          example: 'true'
    UpdateCalendarGroupInput:
      type: object
      x-FeatureName: calendars
      properties:
        id:
          type: string
          example: ocQHyuzHvysMo5N5VsXc
        name:
          type: string
          example: group a
        description:
          type: string
          example: group description
        slug:
          type: string
          example: 15-mins
      required:
        - name
        - description
        - slug
    CalendarEvent:
      type: object
      x-FeatureName: calendars
      properties:
        id:
          type: string
          description: Calendar Event ID
          example: 0007BWpSzSwfiuSl0tR2
        title:
          type: string
          description: Calendar Event title
          example: Appointment with GHL Dev team
        calendarId:
          type: string
          description: Calendar ID
          example: BqTwX8QFwXzpegMve9EQ
        locationId:
          type: string
          description: Location ID
          example: 0007BWpSzSwfiuSl0tR2
        contactId:
          type: string
          description: Contact ID
          example: 9NkT25Vor1v4aQatFsv2
        groupId:
          type: string
          description: Group ID
          example: 9NkT25Vor1v4aQatFsv2
        appointmentStatus:
          type: object
          description: Appointment Event Status
          example: confirmed
        assignedUserId:
          type: string
          description: AssignedUser - the primary owner of an appointment
          example: YlWd2wuCAZQzh2cH1fVZ
        users:
          description: Users - the secondary owners of an appointment.
          example:
            - YlWd2wuCAZQzh2cH1fVZ
            - 9NkT25Vor1v4aQatFsv2
          type: array
          items:
            type: string
        startTime:
          type: object
          description: Start Time
          example: '2023-09-25T16:00:00+05:30'
        endTime:
          type: object
          description: End Time
          example: '2023-09-25T16:00:00+05:30'
      required:
        - id
        - title
        - calendarId
        - locationId
        - contactId
        - groupId
        - appointmentStatus
        - assignedUserId
        - users
        - startTime
        - endTime
    ListCalendarEventsResponse:
      type: object
      x-FeatureName: calendars
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/CalendarEvent'
    CalendarSlotsDateEntry:
      type: object
      x-FeatureName: calendars
      properties:
        slots:
          type: array
          items:
            type: string
      required:
        - slots
    GetCalendarAvailableSlotsResponse:
      type: object
      x-FeatureName: calendars
      description: |
        A dictionary of date strings to available slots for the date.
      additionalProperties:
        $ref: '#/components/schemas/CalendarSlotsDateEntry'
      required:
        - _dates_
    Calendar:
      type: object
      x-FeatureName: calendars
      properties:
        id:
          type: string
          example: 0TkCdp9PfvLeWKYRRvIz
        locationId:
          type: string
          example: ocQHyuzHvysMo5N5VsXc
        groupId:
          type: string
          description: Group Id
          example: BqTwX8QFwXzpegMve9EQ
        name:
          type: string
          example: test calendar
        description:
          type: string
          example: this is used for testing
        slug:
          type: string
          example: test1
        isActive:
          type: boolean
          example: true
        openHours:
          example: []
          type: array
          items:
            type: string
      required:
        - id
        - locationId
        - name
    CalendarResponse:
      type: object
      x-FeatureName: calendars
      properties:
        calendar:
          $ref: '#/components/schemas/Calendar'
      required:
        - calendar
    ListCalendarsResponse:
      type: object
      x-FeatureName: calendars
      properties:
        calendars:
          type: array
          items:
            $ref: '#/components/schemas/Calendar'
    CalendarNotificationOptions:
      type: object
      x-FeatureName: calendars
      properties:
        type:
          type: string
        shouldSendToContact:
          type: boolean
        shouldSendToGuest:
          type: boolean
        shouldSendToUser:
          type: boolean
        shouldSendToSelectedUsers:
          type: boolean
        selectedUsers:
          type: string
          description: Comma separated emails
          example: user1@testemail.com,user2@testemail.com
      required:
        - type
        - shouldSendToContact
        - shouldSendToGuest
        - shouldSendToUser
        - shouldSendToSelectedUsers
        - selectedUsers
    TeamMember:
      type: object
      x-FeatureName: calendars
      properties:
        userId:
          type: string
          example: ocQHyuzHvysMo5N5VsXc
        priority:
          type: number
          default: 0.5
          x-enumNames:
            - PRIORITY_LOW
            - PRIORITY_MEDIUM
            - PRIORITY_HIGH
          enum:
            - 0
            - 0.5
            - 1
        meetingLocationType:
          type: string
          description: Meeting Location Type
          example: custom
          default: custom
        meetingLocation:
          type: string
      required:
        - userId
    Hour:
      type: object
      x-FeatureName: calendars
      properties:
        openHour:
          type: number
          minimum: 0
          maximum: 23
        openMinute:
          type: number
          minimum: 0
          maximum: 60
        closeHour:
          type: number
          minimum: 0
          maximum: 23
        closeMinute:
          type: number
          minimum: 0
          maximum: 60
      required:
        - openHour
        - openMinute
        - closeHour
        - closeMinute
    OpenHour:
      type: object
      x-FeatureName: calendars
      properties:
        daysOfTheWeek:
          type: array
          items:
            type: number
            maximum: 6
            minimum: 0
        hours:
          type: array
          items:
            $ref: '#/components/schemas/Hour'
      required:
        - daysOfTheWeek
        - hours
    CalendarEventType:
      type: string
      x-FeatureName: calendars
      x-EnumNames:
        - ROUND_ROBIN_OPTIMIZE_FOR_AVAILABILITY
        - ROUND_ROBIN_OPTIMIZE_FOR_EQUAL_DISTRIBUTION
        - COLLECTIVE
        - GROUP
      enum:
        - RoundRobin_OptimizeForAvailability
        - RoundRobin_OptimizeForEqualDistribution
        - Collective
        - Group
    CreateCalendarInput:
      type: object
      x-FeatureName: calendars
      properties:
        notifications:
          description: Calendar Notifications
          type: array
          items:
            $ref: '#/components/schemas/CalendarNotificationOptions'
        locationId:
          type: string
          example: ocQHyuzHvysMo5N5VsXc
        groupId:
          type: string
          description: Group Id
          example: BqTwX8QFwXzpegMve9EQ
        teamMembers:
          description: Team members
          type: array
          items:
            $ref: '#/components/schemas/TeamMember'
        eventType:
          default: RoundRobin_OptimizeForAvailability
          $ref: '#/components/schemas/CalendarEventType'
        name:
          type: string
          example: test calendar
        description:
          type: string
          example: this is used for testing
        slug:
          type: string
          example: test1
        widgetSlug:
          type: string
          example: test1
        calendarType:
          type: string
          example: test1
        widgetType:
          type: string
          example: classic
        eventTitle:
          type: string
          default: '{{contact.name}}'
        eventColor:
          type: string
          default: '#039be5'
        meetingLocation:
          type: string
        slotDuration:
          type: number
          default: 30
        slotInterval:
          type: number
          default: 30
        slotBuffer:
          type: number
        appoinmentPerSlot:
          type: number
          default: 1
        appoinmentPerDay:
          type: number
        openHours:
          type: array
          items:
            $ref: '#/components/schemas/OpenHour'
        formId:
          type: string
        stickyContact:
          type: boolean
        autoConfirm:
          type: boolean
          default: true
        shouldSendAlertEmailsToAssignedMember:
          type: boolean
        alertEmail:
          type: string
        googleInvitationEmails:
          type: boolean
          default: false
        allowReschedule:
          type: boolean
          default: true
        allowCancellation:
          type: boolean
          default: true
        shouldAssignContactToTeamMember:
          type: boolean
        shouldSkipAssigningContactForExisting:
          type: boolean
        notes:
          type: string
        pixelId:
          type: string
        formSubmitType:
          type: string
          default: ThankYouMessage
          enum:
            - RedirectURL
            - ThankYouMessage
        formSubmitRedirectURL:
          type: string
        formSubmitThanksMessage:
          type: string
        guestType:
          type: string
          enum:
            - count_only
            - collect_detail
        consentLabel:
          type: string
      required:
        - locationId
        - name
    Recurring:
      type: object
      x-FeatureName: calendars
      properties: {}
    Availability:
      type: object
      x-FeatureName: calendars
      properties:
        id:
          type: string
        calendarId:
          type: object
        date:
          type: string
        hours:
          type: array
          items:
            $ref: '#/components/schemas/Hour'
        deleted:
          type: boolean
      required:
        - id
        - calendarId
        - date
        - hours
        - deleted
    UpdateCalendarInput:
      type: object
      x-FeatureName: calendars
      properties:
        notifications:
          description: Calendar Notifications
          type: array
          items:
            $ref: '#/components/schemas/CalendarNotificationOptions'
        groupId:
          type: string
          description: Group Id
          example: BqTwX8QFwXzpegMve9EQ
        teamMembers:
          description: Team members
          type: array
          items:
            $ref: '#/components/schemas/TeamMember'
        eventType:
          $ref: '#/components/schemas/CalendarEventType'
        name:
          type: string
          example: test calendar
        description:
          type: string
          example: this is used for testing
        slug:
          type: string
          example: test1
        widgetSlug:
          type: string
          example: test1
        calendarType:
          type: string
          example: test1
        widgetType:
          type: string
          example: classic
        eventTitle:
          type: string
        eventColor:
          type: string
        meetingLocation:
          type: string
        slotDuration:
          type: number
        slotInterval:
          type: object
        slotBuffer:
          type: number
        appoinmentPerSlot:
          type: number
        appoinmentPerDay:
          type: number
        openHours:
          type: array
          items:
            $ref: '#/components/schemas/OpenHour'
        enableRecurring:
          type: boolean
        recurring:
          $ref: '#/components/schemas/Recurring'
        formId:
          type: string
        stickyContact:
          type: boolean
        isLivePaymentMode:
          type: boolean
        autoConfirm:
          type: boolean
        shouldSendAlertEmailsToAssignedMember:
          type: boolean
        alertEmail:
          type: string
        googleInvitationEmails:
          type: boolean
        allowReschedule:
          type: boolean
        allowCancellation:
          type: boolean
        shouldAssignContactToTeamMember:
          type: boolean
        shouldSkipAssigningContactForExisting:
          type: boolean
        notes:
          type: string
        pixelId:
          type: string
        formSubmitType:
          type: string
          default: ThankYouMessage
          enum:
            - RedirectURL
            - ThankYouMessage
        formSubmitRedirectURL:
          type: string
        formSubmitThanksMessage:
          type: string
        availabilityType:
          type: number
          example: 0
        availabilities:
          type: array
          items:
            $ref: '#/components/schemas/Availability'
        guestType:
          type: string
          enum:
            - count_only
            - collect_detail
        consentLabel:
          type: string
    AppointmentResponse:
      type: object
      x-FeatureName: calendars
      properties:
        calendarId:
          type: string
          description: Calendar Id
          example: CVokAlI8fgw4WYWoCtQz
        locationId:
          type: string
          description: Location Id
          example: C2QujeCh8ZnC7al2InWR
        contactId:
          type: string
          description: Contact Id
          example: 0007BWpSzSwfiuSl0tR2
        startTime:
          type: string
          description: Start Time
          example: '2021-06-23T03:30:00+05:30'
        endTime:
          type: string
          description: End Time
          example: '2021-06-23T04:30:00+05:30'
        title:
          type: string
          description: Title
          example: Test Event
        appointmentStatus:
          type: string
          example: confirmed
          enum:
            - new
            - confirmed
            - cancelled
            - showed
            - noshow
            - invalid
        assignedUserId:
          type: string
          description: Assigned User Id
          example: 0007BWpSzSwfiuSl0tR2
        address:
          type: string
          description: Appointment Address
          example: Zoom
        id:
          type: string
          description: Id
          example: 0TkCdp9PfvLeWKYRRvIz
      required:
        - calendarId
        - locationId
        - contactId
        - id
    CreateAppointmentInput:
      type: object
      x-FeatureName: calendars
      properties:
        calendarId:
          type: string
          description: Calendar Id
          example: CVokAlI8fgw4WYWoCtQz
        locationId:
          type: string
          description: Location Id
          example: C2QujeCh8ZnC7al2InWR
        contactId:
          type: string
          description: Contact Id
          example: 0007BWpSzSwfiuSl0tR2
        startTime:
          type: string
          description: Start Time
          example: '2021-06-23T03:30:00+05:30'
        endTime:
          type: string
          description: End Time
          example: '2021-06-23T04:30:00+05:30'
        title:
          type: string
          description: Title
          example: Test Event
        appointmentStatus:
          type: string
          example: confirmed
          enum:
            - new
            - confirmed
            - cancelled
            - showed
            - noshow
            - invalid
        assignedUserId:
          type: string
          description: Assigned User Id
          example: 0007BWpSzSwfiuSl0tR2
        address:
          type: string
          description: Appointment Address
          example: Zoom
        ignoreDateRange:
          type: boolean
          description: If set to true, the minimum scheduling notice and date range would be ignored
          example: false
        toNotify:
          type: boolean
          description: If set to false, the automations will not run
          example: false
      required:
        - calendarId
        - locationId
        - contactId
        - startTime
    UpdateAppointmentInput:
      type: object
      x-FeatureName: calendars
      properties:
        calendarId:
          type: string
          description: Calendar Id
          example: CVokAlI8fgw4WYWoCtQz
        startTime:
          type: string
          description: Start Time
          example: '2021-06-23T03:30:00+05:30'
        endTime:
          type: string
          description: End Time
          example: '2021-06-23T04:30:00+05:30'
        title:
          type: string
          description: Title
          example: Test Event
        appointmentStatus:
          type: string
          example: confirmed
          enum:
            - new
            - confirmed
            - cancelled
            - showed
            - noshow
            - invalid
        address:
          type: string
          description: Appointment Address
          example: Zoom
        ignoreDateRange:
          type: boolean
          description: If set to true, the minimum scheduling notice and date range would be ignored
          example: false
        toNotify:
          type: boolean
          description: If set to false, the automations will not run
          example: false
    CreateBlockedSlotInput:
      type: object
      x-FeatureName: calendars
      properties:
        calendarId:
          type: string
          description: Calendar Id
          example: CVokAlI8fgw4WYWoCtQz
        locationId:
          type: string
          description: Location Id
          example: C2QujeCh8ZnC7al2InWR
        startTime:
          type: string
          description: Start Time
          example: '2021-06-23T03:30:00+05:30'
        endTime:
          type: string
          description: End Time
          example: '2021-06-23T04:30:00+05:30'
        title:
          type: string
          description: Title
          example: Test Event
        assignedUserId:
          type: string
          description: Assigned User Id
          example: CVokAlI8fgw4WYWoCtQz
      required:
        - locationId
        - startTime
        - endTime
    BlockedSlotResponse:
      type: object
      x-FeatureName: calendars
      properties:
        id:
          type: string
          description: Id
          example: 0TkCdp9PfvLeWKYRRvIz
        locationId:
          type: string
          description: Location Id
          example: C2QujeCh8ZnC7al2InWR
        title:
          type: string
          description: Title
          example: My event
        startTime:
          type: string
          description: Start Time
          example: '2021-06-23T03:30:00+05:30'
        endTime:
          type: string
          description: End Time
          example: '2021-06-23T04:30:00+05:30'
        calendarId:
          type: string
          description: Calendar id
          example: CVokAlI8fgw4WYWoCtQz
        assignedUserId:
          type: string
          description: Assigned User Id
          example: 0007BWpSzSwfiuSl0tR2
      required:
        - id
        - locationId
        - title
        - startTime
        - endTime
    UpdateBlockedSlotInput:
      type: object
      x-FeatureName: calendars
      properties:
        calendarId:
          type: string
          description: Calendar Id
          example: CVokAlI8fgw4WYWoCtQz
        startTime:
          type: string
          description: Start Time
          example: '2021-06-23T03:30:00+05:30'
        endTime:
          type: string
          description: End Time
          example: '2021-06-23T04:30:00+05:30'
        title:
          type: string
          description: Title
          example: Test Event
        assignedUserId:
          type: string
          description: Assigned User Id
          example: CVokAlI8fgw4WYWoCtQz
    DeleteAppointmentInput:
      type: object
      x-FeatureName: calendars
      description: |
        Ask the GHL API team to update Stoplight for this schema
      additionalProperties: true
    DeleteCalendarEventResponse:
      type: object
      x-FeatureName: calendars
      properties:
        succeeded:
          type: boolean
          example: true
    #endregion Calendars

    #region Campaigns
    Campaign:
      type: object
      x-FeatureName: campaigns
      deprecated: true
      description: |
        **NOTE:** Campaigns are deprecated. Use workflows instead.
      properties:
        id:
          type: string
          example: mIVALPYuTD7YjUHnFEx4
        name:
          type: string
          example: test
        status:
          type: string
          example: published
        locationId:
          type: string
          example: ve9EPM428h8vShlRW1KT
    ListCampaignsResponse:
      type: object
      x-FeatureName: campaigns
      deprecated: true
      description: |
        **NOTE:** Campaigns are deprecated. Use workflows instead.
      properties:
        campaigns:
          type: array
          items:
            $ref: '#/components/schemas/Campaign'
    #endregion Campaigns

    #region Contacts
    Contact:
      type: object
      x-FeatureName: contacts
      properties:
        id:
          type: string
          example: seD4PfOuKoVMLkEZqohJ
        name:
          type: string
          example: rubika deo
        locationId:
          type: string
          example: ve9EPM428h8vShlRW1KT
        firstName:
          type: string
          example: rubika
        lastName:
          type: string
          example: Deo
        email:
          type: string
          example: rubika@deos.com
        emailLowerCase:
          type: string
          example: rubika@deos.com
        timezone:
          type: string
          example: ''
        companyName:
          type: string
          example: DGS VolMAX
        phone:
          type: string
          example: '+18832327657'
        dnd:
          type: boolean
          example: true
        dndSettings:
          $ref: '#/components/schemas/ContactDndSettings'
        type:
          type: string
          example: read
        source:
          type: string
          example: public api
        assignedTo:
          type: string
          example: ve9EPM428h8vShlRW1KT
        address1:
          type: string
          example: 3535 1st St N
        city:
          type: string
          example: ruDolomitebika
        state:
          type: string
          example: AL
        country:
          type: string
          example: US
        postalCode:
          type: string
          example: '35061'
        website:
          type: string
          example: https://www.tesla.com
        tags:
          example:
            - nisi sint commodo amet
            - consequat
          type: array
          items:
            type: string
        dateOfBirth:
          type: string
          example: '1990-09-25T00:00:00.000Z'
        dateAdded:
          type: string
          example: '2021-07-02T05:18:26.704Z'
        dateUpdated:
          type: string
          example: '2021-07-02T05:18:26.704Z'
        attachments:
          type: string
        ssn:
          type: string
        gender:
          type: string
          example: male
        keyword:
          type: string
          example: test
        firstNameLowerCase:
          type: string
          example: rubika
        fullNameLowerCase:
          type: string
          example: rubika deo
        lastNameLowerCase:
          type: string
          example: deo
        lastActivity:
          type: string
          example: '2021-07-16T11:39:30.564Z'
        customFields:
          type: array
          items:
            $ref: '#/components/schemas/ContactCustomField'
        businessId:
          type: string
          example: 641c094001436dbc2081e642
        attributionSource:
          $ref: '#/components/schemas/ContactAttributionSource'
        lastAttributionSource:
          $ref: '#/components/schemas/ContactAttributionSource'
    GetContactResponse:
      type: object
      x-FeatureName: contacts
      properties:
        contact:
          $ref: '#/components/schemas/Contact'
    CreateContactInput:
      type: object
      x-FeatureName: contacts
      properties:
        firstName:
          type: string
          example: Rosan
          nullable: true
        lastName:
          type: string
          example: Deo
          nullable: true
        name:
          type: string
          example: Rosan Deo
          nullable: true
        email:
          type: string
          example: rosan@deos.com
          nullable: true
        locationId:
          type: string
          example: ve9EPM428h8vShlRW1KT
        gender:
          type: string
          example: male
        phone:
          type: string
          example: +1 888-888-8888
          nullable: true
        address1:
          type: string
          example: 3535 1st St N
          nullable: true
        city:
          type: string
          example: Dolomite
          nullable: true
        state:
          type: string
          example: AL
          nullable: true
        postalCode:
          type: string
          example: '35061'
        website:
          type: string
          example: https://www.tesla.com
          nullable: true
        timezone:
          type: string
          example: America/Chihuahua
          nullable: true
        dnd:
          type: boolean
          example: true
        dndSettings:
          $ref: '#/components/schemas/ContactDndSettings'
        inboundDndSettings:
          $ref: '#/components/schemas/ContactInboundDndSettings'
        tags:
          example:
            - nisi sint commodo amet
            - consequat
          type: array
          items:
            type: string
        customFields:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/CustomFieldStringInput'
              - $ref: '#/components/schemas/CustomFieldArrayInput'
              - $ref: '#/components/schemas/CustomFieldObjectInput'
        source:
          type: string
          example: public api
        country:
          type: string
          example: US
        companyName:
          type: string
          example: DGS VolMAX
          nullable: true
      required:
        - locationId
    CreateContactResponse:
      type: object
      x-FeatureName: contacts
      properties:
        contact:
          $ref: '#/components/schemas/CreateContactResponseDto'
    CreateContactResponseDto:
      type: object
      x-FeatureName: contacts
      properties:
        id:
          type: string
          example: seD4PfOuKoVMLkEZqohJ
        dateAdded:
          type: string
          example: '2021-08-31T09:59:41.937Z'
        dateUpdated:
          type: string
          example: '2021-08-31T09:59:41.937Z'
        deleted:
          type: boolean
          example: false
        tags:
          example:
            - nisi sint commodo amet
            - consequat
          type: array
          items:
            type: string
        type:
          type: string
          example: read
        customFields:
          type: array
          items:
            $ref: '#/components/schemas/ContactCustomField'
        locationId:
          type: string
          example: ve9EPM428h8vShlRW1KT
        firstName:
          type: string
          example: rubika
        firstNameLowerCase:
          type: string
          example: rubika
        fullNameLowerCase:
          type: string
          example: rubika deo
        lastName:
          type: string
          example: Deo
        lastNameLowerCase:
          type: string
          example: deo
        email:
          type: string
          example: rubika@deos.com
        emailLowerCase:
          type: string
          example: rubika@deos.com
        bounceEmail:
          type: boolean
          example: false
        unsubscribeEmail:
          type: boolean
          example: false
        dnd:
          type: boolean
          example: true
        dndSettings:
          $ref: '#/components/schemas/ContactDndSettings'
        phone:
          type: string
          example: '+18832327657'
        address1:
          type: string
          example: 3535 1st St N
        city:
          type: string
          example: ruDolomitebika
        state:
          type: string
          example: AL
        country:
          type: string
          example: US
        postalCode:
          type: string
          example: '35061'
        website:
          type: string
          example: https://www.tesla.com
        source:
          type: string
          example: public api
        companyName:
          type: string
          example: DGS VolMAX
        dateOfBirth:
          type: string
          example: '1990-09-25T00:00:00.000Z'
        birthMonth:
          type: number
          example: 8
        birthDay:
          type: number
          example: 25
        lastSessionActivityAt:
          type: string
          example: '2021-07-16T11:39:30.564Z'
        offers:
          example: []
          type: array
          items:
            type: string
        products:
          example: []
          type: array
          items:
            type: string
        businessId:
          type: string
          example: 641c094001436dbc2081e642
    UpdateContactInput:
      type: object
      x-FeatureName: contacts
      properties:
        firstName:
          type: string
          example: rosan
          nullable: true
        lastName:
          type: string
          example: Deo
          nullable: true
        name:
          type: string
          example: rosan Deo
          nullable: true
        email:
          type: string
          example: rosan@deos.com
          nullable: true
        phone:
          type: string
          example: +1 888-888-8888
          nullable: true
        address1:
          type: string
          example: 3535 1st St N
          nullable: true
        city:
          type: string
          example: Dolomite
          nullable: true
        state:
          type: string
          example: AL
          nullable: true
        postalCode:
          type: string
          example: '35061'
        website:
          type: string
          example: https://www.tesla.com
          nullable: true
        timezone:
          type: string
          example: America/Chihuahua
          nullable: true
        dnd:
          type: boolean
          example: true
        dndSettings:
          $ref: '#/components/schemas/ContactDndSettings'
        inboundDndSettings:
          $ref: '#/components/schemas/ContactInboundDndSettings'
        tags:
          example:
            - nisi sint commodo amet
            - consequat
          type: array
          items:
            type: string
        customFields:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/CustomFieldStringInput'
              - $ref: '#/components/schemas/CustomFieldArrayInput'
              - $ref: '#/components/schemas/CustomFieldObjectInput'
        source:
          type: string
          example: public api
          nullable: true
        country:
          type: string
          example: US
    UpdateContactsResponse:
      type: object
      x-FeatureName: contacts
      properties:
        succeded:
          type: boolean
          example: true
        contact:
          $ref: '#/components/schemas/Contact'
    UpsertContactInput:
      type: object
      x-FeatureName: contacts
      properties:
        firstName:
          type: string
          example: Rosan
          nullable: true
        lastName:
          type: string
          example: Deo
          nullable: true
        name:
          type: string
          example: Rosan Deo
          nullable: true
        email:
          type: string
          example: rosan@deos.com
          nullable: true
        locationId:
          type: string
          example: ve9EPM428h8vShlRW1KT
        gender:
          type: string
          example: male
        phone:
          type: string
          example: +1 888-888-8888
          nullable: true
        address1:
          type: string
          example: 3535 1st St N
          nullable: true
        city:
          type: string
          example: Dolomite
          nullable: true
        state:
          type: string
          example: AL
          nullable: true
        postalCode:
          type: string
          example: '35061'
        website:
          type: string
          example: https://www.tesla.com
          nullable: true
        timezone:
          type: string
          example: America/Chihuahua
          nullable: true
        dnd:
          type: boolean
          example: true
        dndSettings:
          $ref: '#/components/schemas/ContactDndSettings'
        inboundDndSettings:
          $ref: '#/components/schemas/ContactInboundDndSettings'
        tags:
          example:
            - nisi sint commodo amet
            - consequat
          type: array
          items:
            type: string
        customFields:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/CustomFieldStringInput'
              - $ref: '#/components/schemas/CustomFieldArrayInput'
              - $ref: '#/components/schemas/CustomFieldObjectInput'
        source:
          type: string
          example: public api
        country:
          type: string
          example: US
        companyName:
          type: string
          example: DGS VolMAX
          nullable: true
      required:
        - locationId
    UpsertContactsResponse:
      type: object
      x-FeatureName: contacts
      properties:
        new:
          type: boolean
          example: true
        contact:
          $ref: '#/components/schemas/Contact'
        traceId:
          type: string
    DeleteContactsResponse:
      type: object
      x-FeatureName: contacts
      properties:
        succeded:
          type: boolean
          example: true
    ContactsMetaSchema:
      type: object
      x-FeatureName: contacts
      properties:
        total:
          type: number
          example: 50
        nextPageUrl:
          type: string
          example: http://localhost:5058/contacts/?locationId=ve9EPM428h8vShlRW1KT&startAfter=1631087949919&startAfterId=yd0jdjOavGk2o6Nh5Ndb
        startAfterId:
          type: string
          example: yd0jdjOavGk2o6Nh5Ndb
        startAfter:
          type: number
          example: 1631087949919
        currentPage:
          type: number
          example: 2
        nextPage:
          type: number
          example: 3
        prevPage:
          type: number
          example: 1
          nullable: true
    ListContactsResponse:
      type: object
      x-FeatureName: contacts
      properties:
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/ListContactsResponseDto'
        count:
          type: number
          example: 10
    ListContactsResponseDto:
      type: object
      x-FeatureName: contacts
      properties:
        id:
          type: string
          example: ocQHyuzHvysMo5N5VsXc
        locationId:
          type: string
          example: C2QujeCh8ZnC7al2InWR
        email:
          type: string
          example: JohnDeo@gmail.com
        timezone:
          type: string
          example: Asia/Calcutta
        country:
          type: string
          example: DE
        source:
          type: string
          example: xyz form
        dateAdded:
          type: string
          example: '2020-10-29T09:31:30.255Z'
        customFields:
          type: array
          items:
            $ref: '#/components/schemas/ContactCustomField'
        tags:
          example:
            - nisi sint commodo amet
            - consequat
          type: array
          items:
            type: string
        businessId:
          type: string
          example: 641c094001436dbc2081e642
        attributions:
          type: array
          items:
            $ref: '#/components/schemas/ContactAttributionSource'
    UpdateBusinessContactsInput:
      type: object
      x-FeatureName: contacts
      properties:
        locationId:
          type: string
          example: PX8m5VwxEbcpFlzYEPVG
        ids:
          example:
            - IDqvFHGColiyK6jiatuz
            - pOC0uJ97VYOKH2m3fkMD
          type: array
          items:
            type: string
            maxLength: 50
        businessId:
          type: string
          example: 63b7ec34ea409a9a8bd2a4ff
          nullable: true
      required:
        - locationId
        - ids
        - businessId
    ContactsBulkUpdateResponse:
      type: object
      x-FeatureName: contacts
      properties:
        success:
          type: boolean
          example: true
        ids:
          example:
            - pOC0uJ97VYOKH2m3fkMD
          type: array
          items:
            type: string
      required:
        - success
        - ids
    ChannelDndSettings:
      type: object
      x-FeatureName: contacts
      properties:
        status:
          type: string
          enum:
            - active
            - inactive
            - permanent
        message:
          type: string
        code:
          type: string
      required:
        - status
    ContactDndSettings:
      type: object
      x-FeatureName: contacts
      properties:
        Call:
          $ref: '#/components/schemas/ChannelDndSettings'
        Email:
          $ref: '#/components/schemas/ChannelDndSettings'
        SMS:
          $ref: '#/components/schemas/ChannelDndSettings'
        WhatsApp:
          $ref: '#/components/schemas/ChannelDndSettings'
        GMB:
          $ref: '#/components/schemas/ChannelDndSettings'
        FB:
          $ref: '#/components/schemas/ChannelDndSettings'
    ChannelInboundDndSettings:
      type: object
      x-FeatureName: contacts
      properties:
        status:
          type: string
          enum:
            - active
            - inactive
        message:
          type: string
      required:
        - status
    ContactInboundDndSettings:
      type: object
      x-FeatureName: contacts
      properties:
        all:
          $ref: '#/components/schemas/ChannelInboundDndSettings'
    ContactCustomField:
      type: object
      x-FeatureName: contacts
      properties:
        id:
          type: string
          example: MgobCB14YMVKuE4Ka8p1
        value:
          type: string
          example: name
    ContactAttributionSource:
      type: object
      x-FeatureName: contacts
      properties:
        url:
          type: string
          example: Trigger Link
        campaign:
          type: string
          nullable: true
        utmSource:
          type: string
          nullable: true
        utmMedium:
          type: string
          nullable: true
        utmContent:
          type: string
          nullable: true
        referrer:
          type: string
          example: 'https: //www.google.com'
          nullable: true
        campaignId:
          type: string
          nullable: true
        fbclid:
          type: string
          nullable: true
        gclid:
          type: string
          example: CjOKCQjwnNyUBhCZARISAI9AYIFtNnIcWcYGIOQINz_ZoFI5SSLRRugSoPZoiEu27IZBY£1-MAIWmEaAo2VEALW_WCB
          nullable: true
        msclikid:
          type: string
          nullable: true
        dclid:
          type: string
          nullable: true
        fbc:
          type: string
          nullable: true
        fbp:
          type: string
          example: fb. 1.1674748390986.1171287961
          nullable: true
        fbEventId:
          type: string
          example: Mozilla/5.0
          nullable: true
        userAgent:
          type: string
          example: Mozilla/5.0
          nullable: true
        ip:
          type: string
          example: 58.111.106.198
          nullable: true
        medium:
          type: string
          example: survey
          nullable: true
        mediumId:
          type: string
          example: FglfHAn30PRwsZVyQlKp
          nullable: true
      required:
        - url
    #endregion Contacts

    #region Contact Appointments
    ContactAppointment:
      type: object
      x-FeatureName: contacts
      properties:
        id:
          type: string
          example: YS3jaqqeehkR2Is80miy
        calendarId:
          type: string
          example: YlWd2wuCAZQzh2cH1fVZ
        status:
          type: string
          example: booked
        title:
          type: string
          example: Test
        appoinmentStatus:
          type: string
          example: confirmed
        assignedUserId:
          type: string
          example: YlWd2wuCAZQzh2cH1fVZ
        notes:
          type: string
          example: test
        startTime:
          type: string
          example: '2021-07-16 11:00:00'
        endTime:
          type: string
          example: '2021-07-16 11:30:00'
    GetContactAppointmentsResponse:
      type: object
      x-FeatureName: contacts
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/ContactAppointment'
    #endregion Contact Appointments

    #region Contact Campaigns
    AddContactToCampaignInput:
      type: object
      x-FeatureName: contacts
      properties: {}
    UpdateContactCampaignResponse:
      type: object
      x-FeatureName: contacts
      properties:
        succeded:
          type: boolean
          example: true
    #endregion Contact Campaigns

    #region Contact Notes
    ContactNote:
      type: object
      x-FeatureName: contacts
      properties:
        id:
          type: string
          example: HGPcayliwcdoUFzvbTok
        body:
          type: string
          example: lorem ipsum
        userId:
          type: string
          example: TUcmRxWrjqzJS8EjkxNK
        dateAdded:
          type: string
          example: '2021-07-08T12:02:11.285Z'
        contactId:
          type: string
          example: TUcmRxWrjqzJS8EjkxNK
    ListContactNotesResponse:
      type: object
      x-FeatureName: contacts
      properties:
        notes:
          type: array
          items:
            $ref: '#/components/schemas/ContactNote'
    ContactNoteInput:
      type: object
      x-FeatureName: contacts
      properties:
        userId:
          type: string
          example: GCs5KuzPqTls7vWclkEV
        body:
          type: string
          example: lorem ipsum
      required:
        - body
    ContactNoteResponse:
      type: object
      x-FeatureName: contacts
      properties:
        note:
          $ref: '#/components/schemas/ContactNote'
    DeleteContactNoteResponse:
      type: object
      x-FeatureName: contacts
      properties:
        succeded:
          type: boolean
          example: true
    #endregion Contact Notes

    #region Contact Search
    #endregion Contact Search

    #region Contact Tags
    ContactTagsInput:
      type: object
      x-FeatureName: contacts
      properties:
        tags:
          example:
            - minim
            - velit magna
          type: array
          items:
            type: string
      required:
        - tags
    AddContactTagsResponse:
      type: object
      x-FeatureName: contacts
      properties:
        tags:
          example:
            - minim
            - velit magna
          type: array
          items:
            type: string
    RemoveContactTagsResponse:
      type: object
      x-FeatureName: contacts
      properties:
        tags:
          example:
            - minim
            - velit magna
          type: array
          items:
            type: string
    #endregion Contact Tags

    #region Contact Tasks
    ContactTaskResponse:
      type: object
      x-FeatureName: contacts
      properties:
        task:
          $ref: '#/components/schemas/ContactTask'
    ContactTask:
      type: object
      x-FeatureName: contacts
      properties:
        id:
          type: string
          example: lJpzYrWdpkC2hX6t2yue
        title:
          type: string
          example: test
        body:
          type: string
          example: testing
        assignedTo:
          type: string
          example: tesTUcmRxWrjqzJS8EjkxNKting
        dueDate:
          type: string
          example: '2021-07-08T02:30:00.000Z'
        completed:
          type: boolean
          example: true
        contactId:
          type: string
          example: lJpzYrWdpkC2hX6t2yue
    ListContactTasksResponse:
      type: object
      x-FeatureName: contacts
      properties:
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/ContactTask'
    CreateContactTaskInput:
      type: object
      x-FeatureName: contacts
      properties:
        title:
          type: string
          example: First Task
        body:
          type: string
          example: loram ipsum
        dueDate:
          type: string
          example: '2020-10-25T11:00:00Z'
        completed:
          type: boolean
          example: true
        assignedTo:
          type: string
          example: hxHGVRb1YJUscrCB8eXK
      required:
        - title
        - dueDate
        - completed
    UpdateContactTaskInput:
      type: object
      x-FeatureName: contacts
      properties:
        title:
          type: string
          example: First Task
        body:
          type: string
          example: loram ipsum
        dueDate:
          type: string
          example: '2020-10-25T11:00:00Z'
        completed:
          type: boolean
          example: true
        assignedTo:
          type: string
          example: hxHGVRb1YJUscrCB8eXK
    UpdateContactTaskStatusInput:
      type: object
      x-FeatureName: contacts
      properties:
        completed:
          type: boolean
          example: true
      required:
        - completed
    DeleteContactTaskResponse:
      type: object
      x-FeatureName: contacts
      properties:
        succeded:
          type: boolean
          example: true
    #endregion Contact Tasks

    #region Contact Workflows
    ContactWorkflowInput:
      type: object
      x-FeatureName: contacts
      properties:
        eventStartTime:
          type: string
          description: Event start time in ISO format
          example: '2021-06-23T03:30:00+01:00'
    ContactWorkflowResponse:
      type: object
      x-FeatureName: contacts
      properties:
        succeded:
          type: boolean
          example: true
    #endregion Contact Workflows

    #region Conversations
    StartAfterNumberSchema:
      type: object
      x-FeatureName: conversations
      properties:
        startAfterDate:
          type: number
          description: Search to begin after the specified date - should contain the sort value of the last document
          example: 1600854
    StartAfterArrayNumberSchema:
      type: object
      x-FeatureName: conversations
      properties:
        startAfterDate:
          description: Search to begin after the specified date - should contain the sort value of the last document
          example:
            - 1600854
            - 1600851
          type: array
          items:
            type: string
    ConversationSchema:
      type: object
      x-FeatureName: conversations
      properties:
        id:
          type: string
          description: Conversation Id
          example: ABCHkzuJQ8ZMd4Te84GK
        contactId:
          type: string
          description: Contact Id
          example: ABCHkzuJQ8ZMd4Te84GK
        locationId:
          type: string
          description: Location Id
          example: ABCHkzuJQ8ZMd4Te84GK
        lastMessageBody:
          type: string
          description: Last Message Body of the conversation
          example: This is a sample message body
        lastMessageType:
          type: string
          description: Last message type of the conversation
          example: TYPE_SMS
          enum:
            - TYPE_CALL
            - TYPE_SMS
            - TYPE_EMAIL
            - TYPE_SMS_REVIEW_REQUEST
            - TYPE_WEBCHAT
            - TYPE_SMS_NO_SHOW_REQUEST
            - TYPE_CAMPAIGN_SMS
            - TYPE_CAMPAIGN_CALL
            - TYPE_CAMPAIGN_EMAIL
            - TYPE_CAMPAIGN_VOICEMAIL
            - TYPE_FACEBOOK
            - TYPE_CAMPAIGN_FACEBOOK
            - TYPE_CAMPAIGN_MANUAL_CALL
            - TYPE_CAMPAIGN_MANUAL_SMS
            - TYPE_GMB
            - TYPE_CAMPAIGN_GMB
            - TYPE_REVIEW
            - TYPE_INSTAGRAM
            - TYPE_WHATSAPP
            - TYPE_CUSTOM_SMS
            - TYPE_CUSTOM_EMAIL
            - TYPE_CUSTOM_PROVIDER_SMS
            - TYPE_CUSTOM_PROVIDER_EMAIL
        type:
          type: string
          description: Type of the conversation
          example: TYPE_PHONE
          enum:
            - TYPE_PHONE
            - TYPE_EMAIL
            - TYPE_FB_MESSENGER
            - TYPE_REVIEW
        unreadCount:
          type: number
          description: Unread count of the messages in the conversation
          example: 1
        fullName:
          type: string
          description: Full name of the contact
          example: John Doe
        contactName:
          type: string
          description: Name of the contact in case the Full Name is missing, may contain the company name or the contact email
          example: John Doe Company
        email:
          type: string
          description: Email of the contact
          example: johndoe@mailingdomain.com
        phone:
          type: string
          description: Phone number of the contact
          example: '+15550001234'
      required:
        - id
        - contactId
        - locationId
        - lastMessageBody
        - lastMessageType
        - type
        - unreadCount
        - fullName
        - contactName
        - email
        - phone
    SearchConversationResponse:
      type: object
      x-FeatureName: conversations
      properties:
        conversations:
          description: The list of all conversations found for the given query
          type: array
          items:
            $ref: '#/components/schemas/ConversationSchema'
        total:
          type: number
          description: Total Number of results found for the given query
          example: 100
      required:
        - conversations
        - total
    CreateConversationInput:
      type: object
      x-FeatureName: conversations
      properties:
        locationId:
          type: string
          description: Location ID as string
          example: tDtDnQdgm2LXpyiqYvZ6
        contactId:
          type: string
          description: Contact ID as string
          example: tDtDnQdgm2LXpyiqYvZ6
      required:
        - locationId
        - contactId
    ConversationLastMessageType:
      type: string
      x-FeatureName: conversations
      description: Type of the last message sent/receieved in the conversation.
      x-enumNames:
        - CALL
        - SMS
        - EMAIL
        - SMS_REVIEW_REQUEST
        - WEBCHAT
        - SMS_NO_SHOW_REQUEST
        - CAMPAIGN_SMS
        - CAMPAIGN_CALL
        - CAMPAIGN_EMAIL
        - CAMPAIGN_VOICEMAIL
        - FACEBOOK
        - CAMPAIGN_FACEBOOK
        - CAMPAIGN_MANUAL_CALL
        - CAMPAIGN_MANUAL_SMS
        - GMB
        - CAMPAIGN_GMB
        - REVIEW
        - INSTAGRAM
        - WHATSAPP
        - CUSTOM_SMS
        - CUSTOM_EMAIL
        - CUSTOM_PROVIDER_SMS
        - CUSTOM_PROVIDER_EMAIL
      enum:
        - TYPE_CALL
        - TYPE_SMS
        - TYPE_EMAIL
        - TYPE_SMS_REVIEW_REQUEST
        - TYPE_WEBCHAT
        - TYPE_SMS_NO_SHOW_REQUEST
        - TYPE_CAMPAIGN_SMS
        - TYPE_CAMPAIGN_CALL
        - TYPE_CAMPAIGN_EMAIL
        - TYPE_CAMPAIGN_VOICEMAIL
        - TYPE_FACEBOOK
        - TYPE_CAMPAIGN_FACEBOOK
        - TYPE_CAMPAIGN_MANUAL_CALL
        - TYPE_CAMPAIGN_MANUAL_SMS
        - TYPE_GMB
        - TYPE_CAMPAIGN_GMB
        - TYPE_REVIEW
        - TYPE_INSTAGRAM
        - TYPE_WHATSAPP
        - TYPE_CUSTOM_SMS
        - TYPE_CUSTOM_EMAIL
        - TYPE_CUSTOM_PROVIDER_SMS
        - TYPE_CUSTOM_PROVIDER_EMAIL
    Conversation:
      type: object
      x-FeatureName: conversations
      properties:
        locationId:
          type: string
          description: Location ID as string
          example: tDtDnQdgm2LXpyiqYvZ6
        contactId:
          type: string
          description: Contact ID as string
          example: tDtDnQdgm2LXpyiqYvZ6
        assignedTo:
          type: string
          description: Assigned User ID as string
          example: tDtDnQdgm2LXpyiqYvZ6
        userId:
          type: string
          description: User ID as string
          example: tDtDnQdgm2LXpyiqYvZ6
        lastMessageBody:
          type: string
          description: Last message body as string
          example: Hello, this is the message body
        lastMessageDate:
          type: string
          description: Last message date as UTC
          example: '1628008053263'
        lastMessageType:
          $ref: '#/components/schemas/ConversationLastMessageType'
        unreadCount:
          type: number
          description: Count of unread messages in the conversation
          example: 1
        inbox:
          type: boolean
          description: Inbox status of the conversation.
          example: true
        starred:
          type: boolean
          description: Starred status of the conversation.
          example: true
        deleted:
          type: boolean
          description: Deleted status of the conversation.
          example: false
      required:
        - locationId
        - contactId
        - deleted
    ConversationResponse:
      type: object
      x-FeatureName: conversations
      properties:
        success:
          type: boolean
          description: Boolean value as the API response.
          example: true
        conversation:
          description: Conversation data of the provided conversation ID.
          $ref: '#/components/schemas/Conversation'
      required:
        - success
        - conversation
    UpdateConversationInput:
      type: object
      x-FeatureName: conversations
      properties:
        locationId:
          type: string
          description: Location ID as string
          example: tDtDnQdgm2LXpyiqYvZ6
        unreadCount:
          type: number
          description: Count of unread messages in the conversation
          example: 1
        starred:
          type: boolean
          description: Starred status of the conversation.
          example: true
      required:
        - locationId
    DeleteConversationResponse:
      type: object
      x-FeatureName: conversations
      properties:
        success:
          type: boolean
          description: Boolean value as the API response.
          example: true
      required:
        - success
    CancelScheduledMessageResponse:
      type: object
      x-FeatureName: conversations
      properties:
        status:
          type: number
          description: HTTP Status code of the request
          example: 404
        message:
          type: string
          description: Error message of the request
          example: Failed cancel the scheduled message
      required:
        - status
        - message
    MessageType:
      type: string
      x-FeatureName: conversations
      x-EnumNames:
        - SMS
        - EMAIL
        - WHATSAPP
        - GMB
        - IG
        - FB
        - CUSTOM
        - WEBCHAT
      enum:
        - SMS
        - Email
        - WhatsApp
        - GMB
        - IG
        - FB
        - Custom
        - WebChat
    SendMessageInput:
      type: object
      x-FeatureName: conversations
      properties:
        contactId:
          type: string
        appointmentId:
          type: string
        type:
          $ref: '#/components/schemas/MessageType'
        attachments:
          type: array
          items:
            type: string
        emailFrom:
          type: string
        emailCc:
          type: array
          items:
            type: string
        emailBcc:
          type: array
          items:
            type: string
        html:
          type: string
        message:
          type: string
        subject:
          type: string
        templateId:
          type: string
        scheduledTimestamp:
          type: number
          description: UTC Timestamp (in seconds) at which the message should be scheduled
          example: 1669287863
        conversationProviderId:
          type: string
        emailTo:
          type: string
      required:
        - type
        - contactId
    SendMessageResponse:
      type: object
      x-FeatureName: conversations
      properties:
        conversationId:
          type: string
          description: Conversation ID.
          example: ABC12h2F6uBrIkfXYazb
        emailMessageId:
          type: string
          description: This contains the email message id (only for Email type). Use this ID to send inbound replies to GHL to create a threaded email.
          example: rnGyqh2F6uBrIkfhFo9A
        messageId:
          type: string
          description: This is the main Message ID
          example: t22c6DQcTDf3MjRhwf77
        messageIds:
          description: When sending via the GMB channel, we will be returning list of `messageIds` instead of single `messageId`.
          type: array
          items:
            type: string
        msg:
          type: string
          description: Additional response message when sending a workflow message
          example: Message queued successfully.
      required:
        - conversationId
        - messageId
    AddInboundMessageInput:
      type: object
      x-FeatureName: conversations
      properties:
        type:
          $ref: '#/components/schemas/MessageType'
        attachments:
          description: Array of attachments
          type: array
          items:
            type: string
        message:
          type: string
          description: Message Body
        conversationId:
          type: string
          description: Conversation Id
          example: ve9EPM428h8vShlRW1KT
        conversationProviderId:
          type: string
          description: Conversation Provider Id
          example: 61d6d1f9cdac7612faf80753
        html:
          type: string
          description: HTML Body of Email
        subject:
          type: string
          description: Subject of the Email
        emailFrom:
          type: string
          description: From Email Address
        emailTo:
          type: string
          description: To Email Address
        emailCc:
          description: List of email address to CC
          example:
            - john1@doe.com
            - john2@doe.com
          type: array
          items:
            type: string
        emailBcc:
          description: List of email address to BCC
          example:
            - john1@doe.com
            - john2@doe.com
          type: array
          items:
            type: string
        emailMessageId:
          type: string
          description: Send the email message id for which this email should be threaded. This is for replying to a specific email
        direction:
          type: object
          description: |
            Message direction, if required can be set manually. Defaults to 
            `outbound`
          default: outbound
          enum:
            - inbound
            - outbound
        date:
          type: string
          format: date-time
          description: Date of the inbound message
      required:
        - type
        - conversationId
        - conversationProviderId
    ProcessMessageResponseDto:
      type: object
      x-FeatureName: conversations
      properties:
        success:
          type: boolean
        conversationId:
          type: string
          description: Conversation ID.
          example: ABC12h2F6uBrIkfXYazb
        messageId:
          type: string
          description: This is the main Message ID
          example: t22c6DQcTDf3MjRhwf77
        message:
          type: string
      required:
        - success
        - conversationId
        - messageId
        - message
    UploadMessageAttachmentInput:
      type: object
      x-FeatureName: conversations
      properties:
        conversationId:
          type: string
          description: Conversation Id
          example: ve9EPM428h8vShlRW1KT
        locationId:
          type: string
        attachmentUrls:
          type: array
          items:
            type: string
      required:
        - conversationId
        - locationId
        - attachmentUrls
    UploadMessageAttachmentResponse:
      type: object
      x-FeatureName: conversations
      properties:
        uploadedFiles:
          type: object
      required:
        - uploadedFiles
    UploadFilesErrorResponseDto:
      type: object
      x-FeatureName: conversations
      properties:
        status:
          type: number
          description: HTTP Status code of the request
          example: 413
          enum:
            - 400
            - 413
            - 415
        message:
          type: string
          description: Error message of the request
          example: Failed to upload the files
      required:
        - status
        - message
    UpdateMessageStatusError:
      type: object
      x-FeatureName: conversations
      properties:
        code:
          type: string
          description: Error Code
          example: '1'
        type:
          type: string
          description: Error Type
          example: saas
        message:
          type: string
          description: Error Message
          example: There was an error from the provider
      required:
        - code
        - type
        - message
    UpdateMessageStatusInput:
      type: object
      x-FeatureName: conversations
      properties:
        status:
          type: string
          description: Message status
          example: read
          enum:
            - read
            - pending
            - delivered
            - failed
        error:
          description: Error object from the conversation provider
          $ref: '#/components/schemas/UpdateMessageStatusError'
        emailMessageId:
          type: string
          description: Email message Id
          example: ve9EPM428h8vShlRW1KT
        recipients:
          description: Email delivery status for additional email recipients.
          type: array
          items:
            type: string
      required:
        - status
    #endregion Conversations

    #region Custom Fields
    CustomFieldArrayInput:
      type: object
      x-FeatureName: custom-fields
      properties:
        id:
          type: string
          example: 6dvNaf7VhkQ9snc5vnjJ
        key:
          type: string
          example: my_custom_field
        field_value:
          type: array
          items:
            type: string
      required:
        - id
    CustomFieldObjectInput:
      type: object
      x-FeatureName: custom-fields
      properties:
        id:
          type: string
          example: 6dvNaf7VhkQ9snc5vnjJ
        key:
          type: string
          example: my_custom_field
        field_value:
          type: object
          example: {}
      required:
        - id
    CustomFieldStringInput:
      type: object
      x-FeatureName: custom-fields
      properties:
        id:
          type: string
          example: 6dvNaf7VhkQ9snc5vnjJ
          description: Pass either `id` or `key` of custom field
        key:
          type: string
          example: my_custom_field
          description: Pass either `id` or `key` of custom field
        field_value:
          type: string
          example: '9039160788'
    CustomField:
      type: object
      x-FeatureName: locations
      properties:
        id:
          type: string
          example: 3sv6UEo51C9Bmpo1cKTq
        name:
          type: string
          example: pincode
        fieldKey:
          type: string
          example: contact.pincode
        placeholder:
          type: string
          example: Pin code
        dataType:
          type: string
          example: TEXT
        position:
          type: number
          example: 0
        picklistOptions:
          example:
            - first option
          type: array
          items:
            type: string
        picklistImageOptions:
          example: []
          type: array
          items:
            type: string
        isAllowedCustomOption:
          type: boolean
          example: false
        isMultiFileAllowed:
          type: boolean
          example: true
        maxFileLimit:
          type: number
          example: 4
        locationId:
          type: string
          example: 3sv6UEo51C9Bmpo1cKTq
        model:
          type: string
          description: Model of the custom field
          example: opportunity
          enum:
            - contact
            - opportunity
    ListCustomFieldsResponse:
      type: object
      x-FeatureName: locations
      properties:
        customFields:
          type: array
          items:
            $ref: '#/components/schemas/CustomField'
    CustomFieldResponse:
      type: object
      x-FeatureName: locations
      properties:
        customField:
          $ref: '#/components/schemas/CustomField'
    CustomFieldTextBoxListOptions:
      type: object
      x-FeatureName: locations
      properties:
        label:
          type: string
          example: First
        prefillValue:
          type: string
          example: ''
    CreateCustomFieldInput:
      type: object
      x-FeatureName: locations
      properties:
        name:
          type: string
          example: Custom Field
        dataType:
          type: string
          example: TEXT
        placeholder:
          type: string
          example: Placeholder Text
        acceptedFormat:
          example:
            - .pdf
            - .docx
            - .jpeg
          type: array
          items:
            type: string
        isMultipleFile:
          type: boolean
          example: false
        maxNumberOfFiles:
          type: number
          example: 2
        textBoxListOptions:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldTextBoxListOptions'
        position:
          type: number
          example: 0
          default: 0
        model:
          type: string
          description: Model of the custom field you want to create
          example: opportunity
          enum:
            - contact
            - opportunity
      required:
        - name
        - dataType
    UpdateCustomFieldInput:
      type: object
      x-FeatureName: locations
      properties:
        name:
          type: string
          example: Custom Field
        placeholder:
          type: string
          example: Placeholder Text
        acceptedFormat:
          example:
            - .pdf
            - .docx
            - .jpeg
          type: array
          items:
            type: string
        isMultipleFile:
          type: boolean
          example: false
        maxNumberOfFiles:
          type: number
          example: 2
        textBoxListOptions:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldTextBoxListOptions'
        position:
          type: number
          example: 0
          default: 0
        model:
          type: string
          description: Model of the custom field you want to update
          example: opportunity
          enum:
            - contact
            - opportunity
      required:
        - name
    DeleteCustomFieldResponse:
      type: object
      x-FeatureName: locations
      properties:
        succeded:
          type: boolean
          example: true
    OpportunityCustomField:
      type: object
      x-FeatureName: opportunities
      properties:
        id:
          type: string
          example: MgobCB14YMVKuE4Ka8p1
        fieldValue:
          description: The value of the custom field
          oneOf:
            - type: string
            - type: object
            - type: array
              items:
                type: string
            - type: array
              items:
                type: object
      required:
        - id
        - fieldValue
    #endregion Custom Fields

    #region Custom Values
    CustomValue:
      type: object
      x-FeatureName: custom-values
      properties:
        id:
          type: string
          example: rWQ709Pb62syqGLceg1x
        name:
          type: string
          example: Custom Field
        fieldKey:
          type: string
          example: '{{ custom_values.custom_field }}'
        value:
          type: string
          example: Value
        locationId:
          type: string
          example: rWQ709Pb6dasyqGLceg1x
    ListCustomValuesResponse:
      type: object
      x-FeatureName: custom-values
      properties:
        customValues:
          type: array
          items:
            $ref: '#/components/schemas/CustomValue'
    CustomValueResponse:
      type: object
      x-FeatureName: custom-values
      properties:
        customValue:
          $ref: '#/components/schemas/CustomValue'
    CustomValueInput:
      type: object
      x-FeatureName: custom-values
      properties:
        name:
          type: string
          example: Custom Field Name
        value:
          type: string
          example: Value
      required:
        - name
        - value
    DeleteCustomValueResponse:
      type: object
      x-FeatureName: custom-values
      properties:
        succeded:
          type: boolean
          example: true
    #endregion Custom Values

    #region Forms
    FormSurveySubmissionOthers:
      type: object
      x-FeatureName: forms
      properties:
        __submissions_other_field__:
          type: string
          example: john@deo.com
        __custom_field_id__:
          type: string
          example: '20'
        eventData:
          $ref: '#/components/schemas/AttributionEvent'
    FormsSubmission:
      type: object
      x-FeatureName: forms
      properties:
        id:
          type: string
          example: 38303ec7-629a-49e2-888a-cf8bf0b1f97e
        contactId:
          type: string
          example: DWQ45t2IPVxi9LDu1wBl
        createdAt:
          type: string
          example: '2021-06-23T06:07:04.000Z'
        formId:
          type: string
          example: YSWdvS4Is98wtIDGnpmI
        name:
          type: string
          example: test
        email:
          type: string
          example: test@test.com
        others:
          $ref: '#/components/schemas/FormSurveySubmissionOthers'
    ListFormsSubmissionsResponse:
      type: object
      x-FeatureName: forms
      properties:
        submissions:
          type: array
          items:
            $ref: '#/components/schemas/FormsSubmission'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    FormsParams:
      type: object
      x-FeatureName:
      properties:
        id:
          type: string
          example: YSWdvS4Is98wtIDGnpmI
        name:
          type: string
          example: Form 1
        locationId:
          type: string
          example: ve9EPM428h8vShlRW1KT
    ListFormsResponse:
      type: object
      x-FeatureName: forms
      properties:
        forms:
          type: array
          items:
            $ref: '#/components/schemas/FormsParams'
        total:
          type: number
          example: '20'
          description: Total number of forms
    #endregion Forms

    #region Locations
    UpdateLocationInput:
      type: object
      x-FeatureName: locations
      properties:
        name:
          type: string
          description: The name for the sub-account/location
        phone:
          type: string
          description: |
            The phone number of the business for which sub-account is created in
            international (IEEE E.164) format
        companyId:
          type: string
          description: Company/Agency Id
        address:
          type: string
          description: The address of the business for which sub-account is created
        city:
          type: string
          description: The city where the business is located for which sub-account is created
        state:
          type: string
          description: The state in which the business operates for which sub-account is created
        country:
          description: |
            The 2-letter ISO country code of the country in which the business is present
          $ref: '#/components/schemas/CountryCode'
        postalCode:
          type: string
          example: '567654'
          description: The postal code of the business for which sub-account is created
        website:
          type: string
          example: https://yourwebsite.com
          description: The website of the business for which sub-account is created
        timezone:
          type: string
          example: US/Central
          description: The timezone of the business for which sub-account is created
        prospectInfo:
          $ref: '#/components/schemas/LocationProspectInfo'
          example:
            firstName: John
            lastName: Doe
            email: john.doe@mail.com
        settings:
          description: The default settings for location
          $ref: '#/components/schemas/LocationSettings'
        social:
          description: The social media links for location
          $ref: '#/components/schemas/LocationSocialMediaInfo'
        twilio:
          description: The twilio credentials for location
          $ref: '#/components/schemas/LocationTwilioSettings'
        mailgun:
          description: The mailgun credentials for location
          $ref: '#/components/schemas/LocationMailgunSettings'
        snapshot:
          description: The snapshot to be updated in the location.
          $ref: '#/components/schemas/LocationSnapshotInput'
      required:
        - companyId
    LocationSettings:
      type: object
      x-FeatureName: locations
      properties:
        allowDuplicateContact:
          type: boolean
          example: false
        allowDuplicateOpportunity:
          type: boolean
          example: false
        allowFacebookNameMerge:
          type: boolean
          example: false
        disableContactTimezone:
          type: boolean
          example: false
    LocationSocialMediaInfo:
      type: object
      x-FeatureName: locations
      properties:
        facebookUrl:
          type: string
          description: Facebook URL
          example: https://www.facebook.com/
        googlePlus:
          type: string
          description: Googleplus URL
          example: https://www.googleplus.com/
        linkedIn:
          type: string
          description: LinkedIn URL
          example: https://www.linkedIn.com/
        foursquare:
          type: string
          description: Foursquare URL
          example: https://www.foursquare.com/
        twitter:
          type: string
          description: Twitter URL
          example: https://www.foutwitterrsquare.com/
        yelp:
          type: string
          description: Yelp URL
          example: https://www.yelp.com/
        instagram:
          type: string
          description: Instagram URL
          example: https://www.instagram.com/
        youtube:
          type: string
          description: Instagram URL
          example: https://www.youtube.com/
        pinterest:
          type: string
          description: Instagram URL
          example: https://www.pinterest.com/
        blogRss:
          type: string
          description: Instagram URL
          example: https://www.blogRss.com/
        googlePlacesId:
          type: string
          description: Google Business Places ID
          example: ChIJJGPdVbQTrjsRGUkefteUeFk
    Location:
      type: object
      x-FeatureName: locations
      properties:
        id:
          type: string
          description: Location Id
          example: ve9EPM428h8vShlRW1KT
        name:
          type: string
          example: Mark Shoes
          description: The name for the sub-account/location
        phone:
          type: string
          example: '+1410039940'
          description: The phone number of the business for which sub-account is created
        email:
          type: string
          example: john.doe@mail.com
          description: The email for the sub-account/location
        address:
          type: string
          example: 4th fleet street
          description: The address of the business for which sub-account is created
        city:
          type: string
          example: New York
          description: The city where the business is located for which sub-account is created
        state:
          type: string
          example: Illinois
          description: The state in which the business operates for which sub-account is created
        country:
          type: string
          example: US
          description: The country in which the business is present for which sub-account is created
        postalCode:
          type: string
          example: '567654'
          description: The postal code of the business for which sub-account is created
        website:
          type: string
          example: https://yourwebsite.com
          description: The website of the business for which sub-account is created
        timezone:
          type: string
          example: US/Central
          description: The timezone of the business for which sub-account is created
        settings:
          description: The default settings for location
          $ref: '#/components/schemas/LocationSettings'
        social:
          description: The social media links for location
          $ref: '#/components/schemas/LocationSocialMediaInfo'
    SearchLocationsResponse:
      type: object
      x-FeatureName: locations
      properties:
        locations:
          type: array
          items:
            $ref: '#/components/schemas/Location'
    LocationBusinessInfo:
      type: object
      x-FeatureName: locations
      properties:
        name:
          type: string
          example: dentist
        address:
          type: string
          example: MIG 14, Delhi
        city:
          type: string
          example: delhi
        state:
          type: string
          example: delhi
        country:
          type: string
          example: IN
        postalCode:
          type: string
          example: '567654'
        website:
          type: string
          example: https://gohighlevel.com/
        timezone:
          type: string
          example: America/Chicago
        logoUrl:
          type: string
          example: https://dummyimage.com/o/locationPhotos%2Fve9EPM428h8vShlRW1KT.jpeg
    GetLocationResponseData:
      type: object
      x-FeatureName: locations
      properties:
        id:
          type: string
          example: ve9EPM428h8vShlRW1KT
        companyId:
          type: string
          example: 5DP4iH6HLkQsiKESj6rh
        name:
          type: string
          example: dentist
        address:
          type: string
          example: ganthi nagar, gyanbabu chauk motihati
        city:
          type: string
          example: motihari
        state:
          type: string
          example: Loca
        logoUrl:
          type: string
          example: https://dummyimage.com/o/locationPhotos%2Fve9EPM428h8vShlRW1KT.jpeg
        country:
          type: string
          example: IN
        postalCode:
          type: string
          example: '567654'
        website:
          type: string
          example: https://gohighlevel.com/
        timezone:
          type: string
          example: America/Chicago
        firstName:
          type: string
          example: Dr. Rane
        lastName:
          type: string
          example: deo
        email:
          type: string
          example: rane@due.com
        phone:
          type: string
          example: '+919039160788'
        business:
          $ref: '#/components/schemas/LocationBusinessInfo'
        social:
          $ref: '#/components/schemas/LocationSocialMediaInfo'
        settings:
          $ref: '#/components/schemas/LocationSettings'
        reseller:
          type: object
    GetLocationResponse:
      type: object
      x-FeatureName: locations
      properties:
        location:
          $ref: '#/components/schemas/GetLocationResponseData'
    LocationProspectInfo:
      type: object
      x-FeatureName: locations
      properties:
        firstName:
          type: string
          description: First name of the prospect
          example: John
        lastName:
          type: string
          description: Last name of the prospect
          example: Doe
        email:
          type: string
          description: Email of the prospect
          example: john.doe@mail.com
      required:
        - firstName
        - lastName
        - email
    LocationTwilioSettings:
      type: object
      x-FeatureName: locations
      properties:
        sid:
          type: string
          description: SID provided by Twilio
          example: AC_XXXXXXXXXXX
        authToken:
          type: string
          description: Auth token provided by Twilio
          example: 77_XXXXXXXXXXX
      required:
        - sid
        - authToken
    LocationMailgunSettings:
      type: object
      x-FeatureName: locations
      properties:
        apiKey:
          type: string
          description: API key provided by Mailgun
          example: key-XXXXXXXXXXX
        domain:
          type: string
          description: Domain connected with Mailgun
          example: replies.yourdomain.com
      required:
        - apiKey
        - domain
    CreateLocationInput:
      type: object
      x-FeatureName: locations
      properties:
        name:
          type: string
          example: Mark Shoes
          description: The name for the sub-account/location
        phone:
          type: string
          example: '+1410039940'
          description: The phone number of the business for which sub-account is created with the appropriate country-code
        companyId:
          type: string
          description: Company/Agency Id
          example: UAXssdawIWAWD
        address:
          type: string
          example: 4th fleet street
          description: The address of the business for which sub-account is created
        city:
          type: string
          example: New York
          description: The city where the business is located for which sub-account is created
        state:
          type: string
          example: Illinois
          description: The state in which the business operates for which sub-account is created
        country:
          description: The 2 letter country-code in which the business is present for which sub-account is created
          $ref: '#/components/schemas/CountryCode'
        postalCode:
          type: string
          example: '567654'
          description: The postal code of the business for which sub-account is created
        website:
          type: string
          example: https://yourwebsite.com
          description: The website of the business for which sub-account is created
        timezone:
          type: string
          example: US/Central
          description: The timezone of the business for which sub-account is created
        prospectInfo:
          $ref: '#/components/schemas/LocationProspectInfo'
          example:
            firstName: John
            lastName: Doe
            email: john.doe@mail.com
        settings:
          description: The default settings for location
          $ref: '#/components/schemas/LocationSettings'
        social:
          description: The social media links for location
          $ref: '#/components/schemas/LocationSocialMediaInfo'
        twilio:
          description: The twilio credentials for location
[...]
