# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Dependencies & compiled output
**/node_modules
**/.pnp.*
lib
build
dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# macOS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environments and credentials
*credentials
**/.env
**/.env*
!apps/server/.env.example

# Others
lerna-debug.log
npm-debug.log
tsconfig.tsbuildinfo
.n

# Local docs and tests
/docs/*
!/docs/assets
!/docs/docs-app
!/docs/badges
!/docs/diagrams
!/docs/openapi
/apps/web/.yarn/cache/
/apps/web/.env
/changelog-temp.md

.docker/*.env

/tools/dependabot-branches.txt
/packages/portal-components/storybook-static

.turbo
/.yarn/versions
