# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
.yarn/versions
.pnp.*

# Dependencies & compiled output
**/node_modules
**/.pnp.*
lib
build
dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# macOS
.DS_Store

# Tests
/coverage
apps/*/coverage
libs/*/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environments and credentials
**/.env*
*credentials
apps/*/config/*.env

# Others
lerna-debug.log
npm-debug.log
tsconfig.tsbuildinfo
.n

# Local docs and tests
/docs/*
!/docs/typedoc
/changelog-temp.md
/apps/web/.yarn/cache/
/apps/*/stats
/apps/*/config/*.env
/apps/*/.turbo
/packages/*/storybook-static

/tools/tmp
